.skills {
  display: flex;
  flex: 2;
  height: 929px;
  margin: 0 10px;
  box-shadow: 0 10px 0px 10px #676565;
}

.skills_child {
  width: 100%;
}

.skills_header {
  background: #1e2773;
  text-align: center;
  width: 95.5%;
  height: 45px;
  padding: 16px;
  border-radius: 8px, 8px, 0px, 0px;
  gap: 4px;
}
.skills_header > h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffffff;
  margin: auto;
}

.skills_body {
  width: 100%;
}
